.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: red;
}

.baslik {
    flex-direction: row;
    align-items: start;
    display: flex;
}

.zikirmatik {
    color: #ffffff;
    font-family: PT Serif;
    font-size: 100px;
    line-height: 1.2;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -5px;
}

.tm {
    margin-top: 0;
    margin-left: 15px;
    color: #ffffff;
    font-family: Work Sans;
    font-size: 12px;
    line-height: 4.6;
    font-style: italic;
    font-weight: 500;
}